.container {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    float: left;
}

.satu {
    width: 80px;
    height: 80px;
    background-color: chartreuse;
    margin-left: 0px;

}

.dua {
    width: 80px;
    height: 80px;
    background-color: blue;
    margin-left: 0px;


}

.tiga {
    width: 80px;
    height: 80px;
    background-color: darkorange;
    margin-left: 0px;

}